{
  "openapi": "3.0.1",
  "info": {
    "title": "Plumifly API",
    "description": "API for fetching blog content from Plumifly platform",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.plumifly.com/api/v1"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/blogs": {
      "get": {
        "summary": "Get Blog Posts",
        "description": "Returns all published blog posts for the project",
        "responses": {
          "200": {
            "description": "Blog list response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "$ref": "#/components/schemas/Project"
                    },
                    "blogs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlogListItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/blog/{slug}": {
      "get": {
        "summary": "Get Blog Post",
        "description": "Returns a single blog post by its slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Slug of the blog post",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blog post response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogPost"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Blog post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Project identifier"
          },
          "name": {
            "type": "string",
            "description": "Project name"
          }
        }
      },
      "BlogListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["published"]
          },
          "description": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "imageAlt": {
            "type": "string",
            "nullable": true
          },
          "thumbnailMainColor": {
            "type": "string",
            "nullable": true
          },
          "thumbnailAccentColor": {
            "type": "string",
            "nullable": true
          },
          "thumbnailStyle": {
            "type": "string",
            "nullable": true
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BlogPost": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "seoKeywords": {
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "imageAlt": {
            "type": "string",
            "nullable": true
          },
          "thumbnailMainColor": {
            "type": "string",
            "nullable": true
          },
          "thumbnailAccentColor": {
            "type": "string",
            "nullable": true
          },
          "thumbnailStyle": {
            "type": "string",
            "nullable": true
          },
          "thumbnailIconSuggestion": {
            "type": "string",
            "nullable": true
          },
          "thumbnailImageLayout": {
            "type": "string",
            "nullable": true
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "scheduledFor": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "generationStatus": {
            "type": "string",
            "nullable": true
          },
          "generationError": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["message", "code"],
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "name": "X-API-Key",
        "in": "header"
      }
    }
  }
}